* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
.Calculator_Frm {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 60px;
}
.row > input {
  padding: 8px 15px;
  width: 150px;
  float: right;
}
.btn-operator {
  padding: 4px 20px;
}
